
#sidebar {
  position: absolute;
  top: 6.1rem;
  max-height: calc(100vh - 8.6rem);
  overflow: auto;
  right: .5rem;
  padding: 0.7rem;
  width: 13%;
  background-color: #fff;
}

#sidebar h3 {
  font-size: 1.2rem;
  color: rgba(209, 33, 33, 1);
  margin-bottom: 0;
}

#sidebar .sidebar-item {
  margin-top: 0.5rem;
}

#sidebar .form-check {
  margin-bottom: 0;
  font-size: 0.9rem;
}

#sidebar input {
  position: relative;
  top: 0.2rem;
  margin-right: 0.2rem;
}

#sidebar input.all {
  margin-right: 0.3rem;
}

.fill-color, .stroke-color {
  position: relative;
  top: 0.2rem;
  margin-right: 0.2rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  opacity: 0.8;
}