
#dataviz-container {
  width: 100%;
  min-height: 20vh;
  padding: 1rem;
}

svg#budget-part-type-viz .bar {
  fill: steelblue;
}

svg#budget-part-type-viz .axis path {
  display: none;
}

svg#budget-part-type-viz .serie {
  opacity: 0.8;
}

svg#budget-part-type-viz .legend-color rect {
  opacity: 0.8;
}

svg#hr-mission-viz rect {
  opacity: 0.9;
}

svg#hr-mission-viz {
  font-size: 12px;
  line-height: 14px;
}

